__pycache__/
*.py[cod]
*$py.class
old/
data/
env/
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
.tox/
.coverage
.coverage.*
.cache
docs/_build/
.idea/
venv/
.vscode/
.ipynb_checkpoints
.python-version
.DS_Store
**/_version.py
__marimo__/
jupyterlite/
inkscape/
marimo/
todo.txt